# Default ignored files
/../../../Projeto_Exceções_Cadastro_Aluno_Nota/ProjetoExcecoesCadastroAlunoNota/.idea/shelf/
/../../../Projeto_Exceções_Cadastro_Aluno_Nota/ProjetoExcecoesCadastroAlunoNota/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Projeto_Exceções_Cadastro_Aluno_Nota/ProjetoExcecoesCadastroAlunoNota/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Projeto_Exceções_Cadastro_Aluno_Nota/ProjetoExcecoesCadastroAlunoNota/.idea/dataSources/
/../../../Projeto_Exceções_Cadastro_Aluno_Nota/ProjetoExcecoesCadastroAlunoNota/.idea/dataSources.local.xml
